<!-- Bibliografia -->

	<div class="container-b" id="bibliografia">
		<h1>Bibliografía</h1>

		    <div class="lis-biblio">
					<button class="accordion">Libro 1</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
					
					<button class="accordion">Libro 2</button>
					<div class="panel">
						<p>	Reprehenderit aliqua non irure est nostrud enim.
							   Lorem occaecat non pariatur sit. Consequat excepteur eu ea aliqua veniam.
							Amet aliqua eiusmod id id consectetur. Proident consectetur mollit cillum magna
							esse reprehenderit sunt voluptate. In enim anim dolor velit tempor tempor.
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						</p>
					</div>
					
					<button class="accordion">Libro 3</button>
					<div class="panel">
					  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
					  </p>
					</div>
			</div>

		</div>

