<!-- Header -->
<header id="header">
    <div class="inner">
        <div class="content">
            <h1>Metodologías Ágiles</h1>
            <ul>
                <li><a href="https://trello.com/b/PpyiZnTl/utn-frlp-%C3%A1giles" target="_blank">Trello</a></li>
                <li><a href="https://utn-frlp-agile.slack.com/messages/G6JJMDVCG/" target="_blank">Slack</a></li>
                <li><a href="id.html" target="_blank">Bolsa de I+D</a></li>
                <li><a href="jobs.html" target="_blank">Jobs</a></li>
            </ul>
            
            
            <a href="#" class="button big alt"><span>Continuar</span></a>
        </div>
        <a href="#" class="button hidden"><span>Continuar</span></a>

    </div>
</header>
