{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Metodologías Ágiles</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{% load static %}
		<link rel="stylesheet" href="{% static 'web/css/style.css' %}"> 
	</head>
	<body>

		<!-- Header -->
		{% include 'web/header.html' %}

		<!-- Menu -->
		
		{% include 'web/menu.html' %}
			
		<!-- Presentation -->
		{% include 'web/presentacion.html' %}
		
		<!-- Novedades -->
		{% include 'web/novedades.html' %}

		<!-- Horarios -->
		{% include 'web/horarios.html' %}
		
		<!-- Bibliografia -->
		{% include 'web/bibliografia.html' %}

		<!-- Nosotros -->		
		{% include 'web/nosotros.html' %}

		<!-- Empleos -->
		{% include 'web/jobs.html' %}

		<!-- Investigacion y desarrollo -->
		{% include 'web/id.html' %}

		<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
		
		
		<!-- Boton Twitter -->
			<button id="twtUp" onclick="twtPopUp()">Twitter</button>
		
				<div id="twitter-container">
						<a class="twitter-timeline" data-lang="es" data-width="350" data-height="500" data-theme="dark" data-link-color="#E81C4F" href="https://twitter.com/msitnyk?ref_src=twsrc%5Etfw">Tweets by msitnyk</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
				</div>
		
		<!-- Scripts -->
		
			<script src="{% static 'web/js/jquery.min.js' %}"></script>
			<script src="{% static 'web/js/skel.min.js' %}"></script>
			<script src="{% static 'web/js/util.js' %}"></script>
			<script src="{% static 'web/js/main.js' %}"></script>
			<script src="{% static 'web/js/slowgoto.js' %}"></script>
			<script src="{% static 'web/js/selectornovedades.js' %}"></script>
			<script src="{% static 'web/js/gotop.js' %}"></script>
			<script src="{% static 'web/js/viewBiblio.js' %}"></script>
			<script src="{% static 'web/js/menu.js' %}"></script>

			

	</body>
</html>