<!-- Menu -->
   <!--  <div class="container-menu">
            <div class="menu-box"><a href="#novedades" id="novedadesB">Novedades</a></div>
            <div class="menu-box"><a href="#horarios" id="horariosB">Horarios</a></div>
            <div class="menu-box"></div>
            <div class="menu-box"><a href="#bibliografia" id="bibliografiaB">Bibliografía</a></div>
            <div class="menu-box"><a href="#nosotros" id="nosotrosB">Nosotros</a></div>
    </div> -->

    <!-- Viejo menu arriba -->

      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <br>
        <br>
        <a href="#novedades" id="novedadesB">Novedades</a>
        <a href="#horarios" id="horariosB">Horarios</a>
        <a href="#bibliografia" id="bibliografiaB">Bibliografía</a>
        <a href="#nosotros" id="nosotrosB">Nosotros</a>
      </div>


      <div class="bMenu" onclick="openNav()">
        <div class="l"></div>
          <div class="l"></div>
          <div class="l"></div>
      </div>