<!-- Menu -->
    <div class="container-menu">
            <div class="menu-box"><a href="#novedades" id="novedadesB">Novedades</a></div>
            <div class="menu-box"><a href="#horarios" id="horariosB">Horarios</a></div>
            <div class="menu-box"><a href="#horarios" id="jobsB">Jobs</a></div>
            <div class="menu-box"></div>
            <div class="menu-box"><a href="#horarios" id="idB">I+D</a></div>
            <div class="menu-box"><a href="#bibliografia" id="bibliografiaB">Bibliografía</a></div>
            <div class="menu-box"><a href="#nosotros" id="nosotrosB">Nosotros</a></div>
    </div>

    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <a href="#novedades" id="novedadesB">Novedades</a>
            <a href="#horarios" id="horariosB">Horarios</a>
            <a href="#horarios" id="jobsB">Jobs</a>
            <a href="#horarios" id="idB">I+D</a>
            <a href="#bibliografia" id="bibliografiaB">Bibliografía</a>
            <a href="#nosotros" id="nosotrosB">Nosotros</a>
        </div>
      </div>

      <span style="font-size:30px;cursor:pointer;position: fixed;z-index: 900; " onclick="openNav()">&#9776;</span>