<!-- Menu -->
    <div class="container-menu">
            <div class="menu-box"><a href="#novedades" id="novedadesB">Novedades</a></div>
            <div class="menu-box"><a href="#horarios" id="horariosB">Horarios</a></div>
            <div class="menu-box"><a href="#jobs" id="jobsB">Jobs</a></div>
            <div class="menu-box"></div>
            <div class="menu-box"><a href="#id" id="idB">I+D</a></div>
            <div class="menu-box"><a href="#bibliografia" id="bibliografiaB">Bibliografía</a></div>
            <div class="menu-box"><a href="#nosotros" id="nosotrosB">Nosotros</a></div>
    </div>
