<!-- Nosotros -->		

<div class="container-n" id="nosotros">
    <h1>Nosotros</h1>
    <span id="profes">
        <div id="emilio">
            <img class="rounded-circle" src="../../static/web/img/emilio.png" alt="Professor picture" width="250" height="250">
            <p>Emilio Watemberg <br>Ingeniero en Sistemas de Información</p>
        </div>
        <div id="martin">
            <img class="rounded-circle" src="../../static/web/img/martin.png" alt="Professor picture" width="250" height="250">
            <p>Martín Sitnyk<br>Ingeniero en Sistemas de Información</p>
        </div>
        <p><a id="mail" href="mailto:utn.frlp.agile@gmail.com">E-mail: utn.frlp.agile@gmail.com</a></p>   
    </span>
</div>
	