<!-- Presentation -->

<!-- <div class="container-agile">
    <div class="box"><h1><span>Agile</span></h1></div>
    <div class="box"><h1><span>Scrum</span></h1></div>
    <div class="box"><h1><span>XP</span></h1></div>
    <div class="box"><h1><span>LEAN</span></h1></div>
    <div class="box"><h1><span>Kanban</span></h1></div>
</div> -->



<div class="slideshow-container">
    
    <div class="mySlides fade kanban">
        <img src="../static/web/img/kanban.jpeg" style="width:100%">
        <p>Kanban</p>
    </div>
    
   <!--  <div class="mySlides fade lean">
        <img src="../static/web/img/lean.jpeg" style="width:100%">
        <p>Lean</p>
    </div> -->
    
    <!-- Falta imagen de Lean de 1050x700 -->

    <div class="mySlides fade scrum">
        <img src="../static/web/img/scrum.jpeg" style="width:100%">
        <p>Scrum</p>
    </div>

    <div class="mySlides fade xp">   
        <img src="../static/web/img/xp.jpeg" style="width:100%">
        <p>Xp</p>
    </div>
    
</div>