/* -----------Menu------------- */
.container-menu{
      
    width: 100%;
    height: 10%;
    display: none;     /* Borras este, y desdocumentas el de abajo, aparece el menu original */
    /* display: flex; */
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
 
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    
}

.container-menu .menu-box{
    width: 20vw;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
   /*  background: rgba(0, 0, 0, .1) */;
    /* background: rgb(117, 72, 159); */
    background: #B71C1C;
}

.container-menu .menu-box:nth-child(1){
    border-right: 1px dotted black;
}

.container-menu .menu-box:nth-child(2){
    border-right: 1px dotted black;
}

.container-menu .menu-box:nth-child(6){
    border-left: 1px dotted black;
}

.container-menu .menu-box:nth-child(7){
    border-left: 1px dotted black;
}

.container-menu .menu-box a{
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    text-decoration: none;
    line-height: 8vh;
    font-size: 2em;
    color: #262626;
    text-transform: uppercase;
}

.container-menu .menu-box:hover{
    background: rgba(231, 76, 60, .9);
    transition: 1s;
}

.container-menu .menu-box:hover a{
    color: rgba(0, 0, 0, .9);
    transition: 1s;
}

.container-menu .menu-box:nth-child(3):hover{
    background: #B71C1C;
    cursor: default;
}

@media only screen and (max-width: 1000px) {
    .container-menu{
        font-size: 7px;
    }
}

@media only screen and (max-width: 680px) {
    .container-menu {
        display: none;
    }
}

/* De aca para arriba no va, tiene display none, no se visualiza */


.bMenu{
    position:fixed;
    z-index: 1000;
    top: 10px;
    left: 15px;
    background-color:white;
    padding-left:5px;
    padding-right:5px;
    cursor:pointer;
}

.bMenu .l {
    width: 35px;
    height: 5px;
    background-color: #F00222;
    margin: 6px 0;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.95);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /* color: #818181; */
    color: #F00222;
    display: block;
    transition: 0.3s;

}

.sidenav a:hover{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* @media only screen and (max-width: 679px) {
    .bMenu{
        display: block;
    }
} */