/* -----------Menu------------- */
.container-menu{
    width: 100vw;
    height: 10vh;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    z-index: 1000;
 
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    
}

.container-menu .menu-box{
    width: 20vw;
    text-align: center;
    flex-grow: 1;
    cursor: pointer;
   /*  background: rgba(0, 0, 0, .1) */;
    /* background: rgb(117, 72, 159); */
    background: #B71C1C;
}

.container-menu .menu-box:nth-child(1){
    border-right: 1px dotted black;
}

.container-menu .menu-box:nth-child(2){
    border-right: 1px dotted black;
}

.container-menu .menu-box:nth-child(6){
    border-left: 1px dotted black;
}

.container-menu .menu-box:nth-child(7){
    border-left: 1px dotted black;
}

.container-menu .menu-box a{
    margin: 0;
    padding: 0;
    display: block;
    height: 100%;
    text-decoration: none;
    line-height: 8vh;
    font-size: 2em;
    color: #262626;
    text-transform: uppercase;
}

.container-menu .menu-box:hover{
    background: rgba(231, 76, 60, .9);
    transition: 1s;
}

.container-menu .menu-box:hover a{
    color: rgba(0, 0, 0, .9);
    transition: 1s;
}

.container-menu .menu-box:nth-child(4):hover{
    background: #B71C1C;
    cursor: default;
}

@media only screen and (max-width: 1000px) {
    .container-menu{
        font-size: 7px;
    }
}

@media only screen and (max-width: 680px) {
    .container-menu {
        display: none;
    }
}




.overlay {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}