
/* Nosotros */
.container-n{
    width: 100vw;
    height: 70vh;
    background:white;
    position: relative;
    text-align: center;
}

.container-n h1{
    position: absolute;
    z-index: 100;

    /* Safari */
    -webkit-transform: rotate(-90deg);
    
    /* Firefox */
    -moz-transform: rotate(-90deg);
    
    /* IE */
    -ms-transform: rotate(-90deg);
    
    /* Opera */
    -o-transform: rotate(-90deg);
    

    margin-top:0;
    left: -50px;
    font-size: 50px;
    top: 200px;
}
@media only screen and (max-width: 1000px) {
    .container-n h1{
        
    /* Safari */
    -webkit-transform: rotate(0deg);
    
    /* Firefox */
    -moz-transform: rotate(0deg);
    
    /* IE */
    -ms-transform: rotate(0deg);
    
    /* Opera */
    -o-transform: rotate(0deg);
    left: 5vw;
    top: 0px;
    margin-top: 0;
    }
}

@media only screen and (max-width: 550px){
    .container-n h1{
        font-size: 40px;
    }
}


#profes{
    
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: auto;
}

#martin, #emilio{
    display: inline-block;
}

#mail{
    color:black;
    text-decoration: none;
}

#emilio{
   margin-right: 40px;
   margin-top: 10vh;
}
#martin{
    margin-right: 40px;
}

.rounded-circle{
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    border: 4px solid black;
    transition: 0.5s;
}
.rounded-circle:hover{
    filter:none;
    transition: 0.5s;
}