
/* ------------Novedades---------- */
.container-nov{
    width: 100vw;
    height: 90vh;
    background:white;
    position: relative;
}


.container-nov h1{
    writing-mode: vertical-lr;
    float: right;
    margin-right: 100px;
    margin-top: 11vh;
    font-size: 60px;
}

@media only screen and (max-width: 1000px) {
    .container-nov h1{
         writing-mode: horizontal-tb;
         float: none;
         margin-top: 0;
         margin-right: 0;
         margin-left: 5vw;
         top: 0px;
    }
}

@media only screen and (max-width: 550px){
    .container-nov h1{
        font-size: 40px;
    }
}


.nov{
    display: block;
    position: absolute;
    top: 11vh;
    left: 10vw;
    margin: auto;
    box-sizing: border-box;
    border: 10px solid black;
    border-radius: 25px;
}

/* Style the tab */
div.tab {
    float: left;
    width: 20vw;
    height: 70vh;
    border-right: 10px solid black;
}

/* Style the buttons inside the tab */
div.tab button {
    display: block;
    background-color: inherit;
    color: black;
    width: 100%;
    border-bottom:10px solid black;
    border-radius: 0px;
    /* outline: none; */
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;

}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    width: 50vw;
    border-left: none;
    height: 70vh;
}

/* A partir de acá comienza el css para el accordion responsive */
.container-nov-res{
    display: none;
    position: absolute;
    width: 67vw;
    height: 200px;
    margin-top: 11vh;
    margin-left: 15vw;
}


@media only screen and (max-width: 1170px){
    #nov-res{
        display: block;
    }

    .nov{
        display: none;
    }
}
    .container-nov-res .accordeon {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 0px;
        margin-bottom: 5px;  
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        text-align: center;
        text-transform: uppercase;
    }
    button.accordeon.active, button.accordeon:hover {
        background-color: #ccc;
    }
    
    div.panel {
        padding: 0;
       /*  background-color: white; */
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s ease-out;
    }
    

