/* ---------------5 imagenes de presentacion ---------*/



/* Slideshow container */
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1050px;
  position: relative;
  margin: auto;
  
}



/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.mySlides p{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-family: 'Pattaya', sans-serif;
  color: #F00222;
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

@media only screen and (max-width: 500px) {
  .mySlides p{
    font-size: 70px;
  }
}

