@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Pattaya|Work+Sans:400,200,300);
@import 'red-ballon.css';
@import 'menu.css';
@import 'presentation.css';
@import 'novedades.css';
@import 'horarios.css';
@import 'bibliografia.css';
@import 'nosotros.css';
@import 'id.css';
@import 'jobs.css';



body{
    margin: 0;
    padding: 0;
}

/* Style boton subir */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }

#twtUp{
  position: fixed;
  width: 90px;
  height: 33px;
  bottom: 20px;
  left: 15px;
  z-index: 100;
  border: none;
  outline: none;
  background-color:#00C0F7;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  transition: 1s;
}

#twitter-container{
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 55px;
  left: 30px; 
}
  
#twitter-container a{
  border: 3px solid #00C0F7;
}
